<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<%- include('header')%>

	<script type="text/javascript" src='javascripts/headerTemplate.js'></script>
</body>
</html>
